@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

[data-theme="light"] {
  .bg-base {
    background-color: #ffffff;
  }
  .text-base {
    color : #363636
  }
}

[data-theme="dark"] {
  .bg-base {
    background-color: #004544;
  }
  .text-base {
    color : #fafafa;
  }
}

.active{
  text-decoration: underline;
  color: #0094b5;
}